<footer class="container-fluid">
  <div class="row align-items-center">
    <div class="col-lg-6 col-md-4 d-flex justify-content-md-start justify-content-center">
      <p class="text-white mb-2 mt-2 lh-1 ml-2">
        <a href="/home" class="text-white" style="font-size: 20px;"><b>Shortify</b></a>
      </p>
    </div>
    <div class="col-lg-6 col-md-8 text-md-right text-center">
      <div class="icon d-flex justify-content-md-end justify-content-center">
        <p class="text-white mb-2 mt-2 lh-1">
          <i class="fa-solid fa-copyright"></i> 2024 Copyright reserved |
          <a href="#" class="text-white">Design And Develope By Tushil</a>
        </p>
      </div>
    </div>
  </div>
</footer>